body {
    background: url("../images/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.version {
    text-align: right;
    font-family: 'Baloo', cursive;
    font-size: 12px;
    color: rgba(159, 9, 11, 0.8);
}
